
<div class="bottom-menu-wrap">
  <div class="bottom-menu">
    <p>京公网安备11111111111号 京ICP证11111<span class="footer-telephone"><i class="icon icon-telephone"></i>电话咨询：400-000-0000</span>
    </p>
  </div>
</div>






