<style>
/*
 * 右侧 side-bar
 */
.section .side-bar {
  width: 275px;
  float: right;
  overflow: visible;
  padding-bottom: 50px;
}

.section .side-bar .side-item {
  background: white;
  box-shadow: 0px 1px 7px #BCBCBC;
  margin-bottom: 30px;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  height: 200px;
  overflow: hidden;
}
.section .side-bar .side-item.pinned {
  margin-top: 5px;
}

.section .side-bar .side-item-tags {
  padding: 20px;
  border-bottom: #F2F2F2 2px solid !important;
}
.section .side-bar .side-item-tags .title {
  border-bottom: #F2F2F2 2px solid !important;
  padding-bottom: 10px;
  padding-left: 10px;
  font-weight: bold;
}
.section .side-bar .side-item-tags .content {
  overflow: hidden;
  padding: 10px;
}
.section .side-bar .side-item-tags .content > a {
  float: left;
  margin-right: 20px;
  margin-bottom: 10px;
  height: 24px;
  
  font-weight: 400;
  color: #69707A;
  cursor: pointer;

}
.section .side-bar .side-item-tags .content > a:hover {
  color: #337ab7;
  text-decoration: underline;
}
</style>



<div class="side-bar">
    <div class="side-item side-item-tags">
        <div class="title">频道</div>
        <div class="content">
        	<a href="index">全部</a>
        	#foreach($item in $tags)
        	<a href="index?tag=$!{item.tag}">$!{item.tag}</a>
        	#end
        </div>
    </div>
    <div class="side-item"></div>
    <div class="side-item pinned">
        <span>重要内容，hold住!</span>
    </div>
</div>



<script src="/hz/resources/static/libs/jquery.pin.js"></script>
<script>
(function($) {
    $(".pinned").pin({
        //containerSelector: ".main-container"
        top: 10, 
        bottom: 10
    })
})(jQuery);
</script>

