#set($title='车骑赛道')

#parse('/widget/common/header.vm')
<link rel="stylesheet" href="/hz/resources/static/page/index/index.css">

</head>
<body>

<!-- 导航栏 -->
#parse('/widget/common/top-menu.vm')

<div class="main-container">

    <!-- banner栏 -->
    #parse('/widget/common/top-slider.vm')
    
    
    <div class="section-title">
        <h2>Recent Updates</h2>
    </div>
    
    
	<div class="section">
	    
	    <!-- 正文列表 -->
	  	<div class="article-wrap">
  		    #foreach($item in $articles)
	  		<a href="index-detail?id=$!{item.id}" class="article-item">
  		        <div class="item-title">
  		        	<div class="sub-title">$!{item.pubTime}</div>
  		        	<div class="main-title">$!{item.title} <span class="tag">$!{item.tag}</span></div>
  		        </div>
  		        <div class="item-avatar">
  		            <img src="$!{item.avatar}" />
  		        </div>
  		    </a>
		    #end
	  	</div>
	  	
	  	
	  	<!-- 右侧sidebar -->
		<div class="side-bar">
            <div class="side-item">
                
            </div>
            <div class="side-item">
                
            </div>
            <div class="side-item pinned">
                <span>重要内容，hold住!</span>
            </div>
        </div>
        
	</div>
	
	
</div>

<!-- 页尾 -->
#parse('/widget/common/bottom-menu.vm')


<script src="/hz/resources/static/libs/jquery-1.11.3.js"></script>
<script src="/hz/resources/static/libs/jquery.headroom.js"></script>
<script src="/hz/resources/static/libs/jquery.pin.js"></script>
<script src="/hz/resources/static/libs/headroom.js"></script>
<script src="/hz/resources/static/libs/jssor.slider.debug.js"></script>
<script src="/hz/resources/static/page/index/index.js"></script>
</body>
</html>
