#set($title='车骑赛道')

#parse('/widget/common/header.vm')
<link rel="stylesheet" href="/hz/resources/static/page/index-detail/index-detail.css">

</head>
<body>

<!-- 导航栏 -->
#parse('/widget/common/top-menu.vm')

<div class="main-container">
    
    <!--
    <div class="section-avatar">
        <img src="./img/article-avatar-1.jpg">
    </div>
    -->
    
    
	<div class="section">
	  	<!-- 正文 -->
	  	<div class="article-wrap">
  		    <div class="article">
  		        <div class="article-title">$!{article.title}</div>
  		        <div class="article-subtitle">
  		        <div>
  		        	<span class="tag">$!{article.tag}</span>
  		        	<span class="date">$!{article.pubTime}</span>
  		        </div>
  		        </div>
                <div class="article-content">$!{article.content}</div>
  		    </div>
	  	</div>
	  	
	  	
	  	<!-- 右侧sidebar -->
		#parse('/widget/common/right-sidebar.vm')
    
	</div>

</div>


<!-- 页尾 -->
#parse('/widget/common/bottom-menu.vm')
<script src="/hz/resources/static/page/index-detail/index-detail.js"></script>
</body>
</html>
