#set($title='车骑赛道')

#parse('/widget/common/header.vm')
<link rel="stylesheet" href="/hz/resources/static/page/index-detail/index-detail.css">

</head>
<body>

<!-- 导航栏 -->
#parse('/widget/common/top-menu.vm')

<div class="main-container">
    
    
    <!--
    <div class="section-avatar">
        <img src="./img/article-avatar-1.jpg">
    </div>
    -->
    
    
	<div class="section">
	  	
	  	<!-- 正文 -->
	  	<div class="article-wrap">
  		    <div class="article">
  		        <div class="article-title">$!{article.title}</div>
  		        <div class="article-subtitle">
  		        <div>
  		        	<span class="tag">$!{article.tag}</span>
  		        	<span class="date">$!{article.pubTime}</span>
  		        </div>
  		        </div>
                <div class="article-content">$!{article.content}</div>
  		    </div>
	  	</div>
	  	
	  	
	  	<!-- 右侧sidebar -->
		<div class="side-bar">
            <div class="side-item side-item-tags">
                <div class="title">频道</div>
                <div class="content">
                	<a>全部</a>
                	#foreach($item in $tags)
                	<a>$!{item.tag}</a>
                	#end
                </div>
            </div>
            <div class="side-item"></div>
            <div class="side-item pinned">
                <span>重要内容，hold住!</span>
            </div>
        </div>
    
	</div>


</div>


<!-- 页尾 -->
#parse('/widget/common/bottom-menu.vm')



<script src="/hz/resources/static/libs/jquery-1.11.3.js"></script>
<script src="/hz/resources/static/libs/jquery.headroom.js"></script>
<script src="/hz/resources/static/libs/jquery.pin.js"></script>
<script src="/hz/resources/static/libs/headroom.js"></script>
<script src="/hz/resources/static/libs/jssor.slider.debug.js"></script>
<script src="/hz/resources/static/page/index-detail/index-detail.js"></script>
</body>
</html>
